* {
    font-family: 'Cairo', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.nav-wrapper {
    padding: 0 20px;
}

.nav-wrapper a {
    font-weight: 600;
}

.top-margin {
    margin-top: 20px;
}