{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Category</h3>

    <div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
        <!-- category name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="25" 
                    type="text" class="validate" required>
                <label for="category_name">Category Name</label>
            </div>
        </div>
        <!-- submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Category <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}