{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Manage Categories</h3>

<div class="row top-margin">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large light-blue darken-2 text-shadow">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
        <div class="col s12 m3">
            <div class="card light-blue darken-4 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn-small green accent-4">Edit</a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small light-blue lighten-1">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
