{% extends "base.html" %} {% block content %}

<h3 class="center-align">Log In</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix light-blue-text text-darken-1"></i>
                    <input id="username" name="username" type="text" minlength="4" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{4,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix light-blue-text text-darken-1"></i>
                    <input id="password" name="password" type="password" minlength="5" 
                        maxlength="15" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- log in -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Need to create a new account?
            <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
        </p>
    </div>
</div>

{% endblock %}
