@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* specify the width and height of the body to encompass the viewport */
body {
  width: 100vw;
  height: 100vh;
  /* include a grid whose items are automatically added as column and occupy a fraction of the width */
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

/* absolute position the button in the center of teh viewport */
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6rem 1.25rem;
  background: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.3);
  color: #1c2d4a;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  /* transition for the transform and box-shadow properties */
  transition: all 0.3s ease-out;
}
/* on hover slightly elevate the button */
button:hover {
  transform: translate(-50%, calc(-50% - 2px));
  box-shadow: 0 2px 7px hsla(0, 0%, 0%, 0.4);
}
/* when a class of .clicked is added (through the script) animate the button out of sight */
button.clicked {
  animation: clicked 0.8s cubic-bezier(0.13, 1.03, 0.72, 1.32) forwards;
}

/* animation to have the button pushed downward and then disappear as it returns to its original location */
@keyframes clicked {
  10%,
  35% {
    transform: translate(-50%, calc(-50% + 8px)) scaleY(0.95);
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.2);
    opacity: 1;
    visibility: visible;
  }
  80%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


button span {
  display: inline-block;
  transform: rotateY(180deg);
}