[v-cloak] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23111111' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: white;
  opacity: 0;
  -webkit-animation: fade 2.5s 0s forwards normal running;
          animation: fade 2.5s 0s forwards normal running;
}

@-webkit-keyframes fade {
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: 1rem;
}

main {
  max-width: 768px;
  width: 100%;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 15fr minmax(15px, 1fr);
      grid-template-columns: 15fr minmax(15px, 1fr);
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  background-color: rgba(17, 17, 17, 0.9);
  -webkit-box-shadow: 0 10px 20px rgba(17, 17, 17, 0.125), 0 5px 5px rgba(17, 17, 17, 0.25);
          box-shadow: 0 10px 20px rgba(17, 17, 17, 0.125), 0 5px 5px rgba(17, 17, 17, 0.25);
}

@media (min-width: 576px) {
  main {
    padding: 2rem;
    grid-gap: 2rem;
  }
}

main,
input,
button,
.mood-meter {
  border-radius: 0.5rem;
  border: 2.5px solid #96deda;
}

.great main, .great
input, .great
button, .great
.mood-meter {
  border-color: #96deda;
}

.good main, .good
input, .good
button, .good
.mood-meter {
  border-color: #96dda6;
}

.neutral main, .neutral
input, .neutral
button, .neutral
.mood-meter {
  border-color: #bbdd96;
}

.bad main, .bad
input, .bad
button, .bad
.mood-meter {
  border-color: #ddca96;
}

.upset main, .upset
input, .upset
button, .upset
.mood-meter {
  border-color: #dd9696;
}

input,
button {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

input:focus,
button:focus {
  border-color: white;
}

.great .msg {
  color: #96deda;
}

.good .msg {
  color: #96dda6;
}

.neutral .msg {
  color: #bbdd96;
}

.bad .msg {
  color: #ddca96;
}

.upset .msg {
  color: #dd9696;
}

input {
  max-width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 0.25rem 1rem;
  background-color: transparent;
}

.expression {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.emoji {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.msg {
  margin: inherit;
  padding: inherit;
  text-align: center;
  font-size: 1rem;
}

.mood-meter,
.mood {
  width: 100%;
}

.mood-meter {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.great .mood, .great
button {
  background-color: #96deda;
}

.good .mood, .good
button {
  background-color: #96dda6;
}

.neutral .mood, .neutral
button {
  background-color: #bbdd96;
}

.bad .mood, .bad
button {
  background-color: #ddca96;
}

.upset .mood, .upset
button {
  background-color: #dd9696;
}

.buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

button:focus {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-animation: sink 0.5s 0s forwards normal running;
          animation: sink 0.5s 0s forwards normal running;
}

@-webkit-keyframes sink {
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes sink {
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

button:not(:last-child) {
  margin-bottom: 1rem;
  color: #111;
}

button:not(:last-child):hover {
  background-color: transparent;
  color: white;
}

button:last-child {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: 0;
  background-color: transparent;
}

button:last-child:hover {
  opacity: 0.5;
}

.reverse button:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.reverse button:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
/*# sourceMappingURL=style.css.map */