/* Body */

body {
    font-family: 'Montserrat';
    text-align: center;
}

/* Headings */

h1,h2,h3 {
    font-family: 'Montserrat';
    font-weight: 800;
}

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

.section-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

/* Paragraph */

p {
    color: #8f8f8f;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
}
.white-section {
    background-color: #fff;
}

/* Navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Section */

#features {
    position: relative;
}

.feature-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.5rem;
}

.check-image {
    size: 100%;
}

.feature-box {
    padding: 4.5%;
}

.fas {
    color: #ef8172;
    padding-bottom: 1rem;
}

.fas:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */

#press {
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 2% 3%;
}

.card-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.5rem;
}
}

.card-price {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA Section */

#cta {
    padding: 5% 20% 5%;
}

/* Footer Section */

.social-med-buttons {
    margin: 20px 10px;
}

/* Stylings For Tablet and Mobile Size */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        transform: rotate(0deg);
        position: static;
    }
}