h1{
	color: darkblue;
	text-align: center;
	font-weight: bold;
	font-family: serif;
}
body {
  background-color: #4158d0;
  background-image: linear-gradient(
    30deg,
    #f7f57b 0%,
    #4bc5db 377%,
    #ee4949  100%
  );
  overflow: none;
  min-height: 100vh;
  font-family: "Varela Round", Nunito, Montserrat, sans-serif;
}
p{
	color: darkred;
	font-weight: bold;
	font-family: serif;
	font-size: 30px;
}
h3{
	margin-top: 30px; 
}
#timer{
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	color: darkred;
		
}
#para{
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	color: white;

}
#td1{
	font-weight: bold;
}
#td1{
	font-weight: bold;
}
#td2{
	font-weight: bold;
}
#td3{
	font-weight: bold;
}
#td4{
	font-weight: bold;
}
#td5{
	font-weight: bold;
}
#td6{
	font-weight: bold;
}
#td7{
	font-weight: bold;
}
#td8{
	font-weight: bold;
}
#td9{
	font-weight: bold;
}