<!-- Delhi Real-Estate Price Prediction -->

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Real Estate Prices</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Area" placeholder="Area" required="required" />
        <input type="text" name="BHK" placeholder="BHK" required="required" />
		<input type="text" name="Bathroom" placeholder="Bathroom" required="required" />
		<input type="text" name="Parking" placeholder="Parking" required="required" />
		<input type="text" name="Per_Sqft" placeholder="Per_Sqft" required="required" />
		<input type="text" name="Type_Builder_Floor" placeholder="Type_Floor" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
