body {
    background-color: #232323;
    margin: 0;
    font-family: Raleway;
}

.square {
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.container {
    max-width: 600px;
    margin: 20px auto;

}

h1 {
    color: #000;
    text-align: center;
    background: rgb(0, 240, 8);
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {

    height: 20px;
    text-align: center;
}

.selected {
    background: rgb(0, 240, 8);
    color: #000;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: rgb(0, 240, 8);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    background: rgb(0, 240, 8);
    color: #000;
}

#message {
    display: inline-block;
    width: 20%;
}
