*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;

}
.hanumana{
    background-image: url(hanumana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 250px;
    position: absolute;
    bottom:0;
    left: 48px;
}
.ravana{
    background-image: url(ravana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 250px;
    position: absolute;
    bottom:0; 
    left: 44vw;

}
.animateHanumana{
    animation: hanumana 0.6s linear;
}
.animateRavana{
    animation: ravana 6s linear infinite;
}
.gameOver{
    color: red;
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center;
    /* visibility: hidden; */
    font-family:Arial, Helvetica, sans-serif;
}
#scoreCount{
    color: red;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: "ubantu" sans-serif;
}
@keyframes hanumana{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes ravana{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;

    }

}