<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <title>Ebook</title>
</head>
<body class="bg-warning text-dark">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <h3 class="d-inline align-middle">Ebook</h3>
        </a>
      </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>